[2015-03-21 13:48] tinku99 opened #2 "ajax-crawling"
thanks for making this.
but isn't this using new technology ? : https://developers.google.com/webmasters/ajax-crawling/docs/specification

[2015-03-21 14:39] icy commented on #2
Hi @tinku99,

I think the answer is positive. In my script, I had to use `_escaped_fragment_` to download data from Google. Basically, my script benefits from the fact that Google follows the specification :) You will see how a group is organized here [1].

My script is written in #bash, and it uses some known tools (lynx, wget,...) to download data. I believe someone can write and improve it by r

[2015-03-21 15:20] icy opened #3 "A 1-year bug and fix!"
When I was in Paris, Daniel sent an email to ask for help. Unfortunately, I couldn't figure out the cause after quick search; and even worse, I almost forgot his email.

The problem comes from a `lynx` configuration. For some reason, it's `UTF-8` by default. And after some upgrades, it switched to an `ISO-xxx` charset and I have awared of that change on my laptop. Tonight I tried with Daniel's arc

[2015-03-21 15:24] #3 closed

[2015-03-21 15:25] icy commented on #3
Fixed in https://github.com/icy/google-group-crawler/commit/f061f38810fdc4f8bf68669705654eb0ef71bfad . See also https://github.com/icy/google-group-crawler/commit/75b726b183843690e8f6a7fe0fcc81a8030b4789

[2015-03-21 16:07] berashith commented on #3
No apologies required! Totally awesome that you would take the time to fix this so long afterwards. Beer shall wend its way towards you!

[2015-03-21 18:28] cmpitg commented on #2
[OT] (j/k) As @icy really loves bashing!

[2015-03-22 04:04] icy commented on #2
@cmpitg ;) I like the idea of using pipe (`|`) to glue small things. Let's see how https://github.com/matz/streem would help ^^

[2015-03-22 17:40] cmpitg commented on #2
:+1:

[2015-03-24 23:38] #2 closed

[2015-05-07 02:44] icy opened #4 "Ability to fetch private data (private group)"
by reading cookie from file(s).

[2015-06-03 10:59] icy commented on #4
Fixed in https://github.com/icy/google-group-crawler/commit/e7c7b7715936099ff76a8f51817df3219c20a153

CC @berashith

[2015-06-03 10:59] #4 closed

[2015-07-18 15:28] isom3250 opened #5 "no protocol"
Hi Himanshu:

I have tried your code and found the following error. Should we use URI? URL seems to have a bug.

Exception in thread "main" java.net.MalformedURLException: no protocol: 'https
/groups.google.com/forum/#!forum/ibm.software.websphere.application-server'

Thank you very much!

[2015-07-18 20:49] icy commented on #5
I guess you call my script from a `Java` program. If that's the case, you need to set up some environments (see `README.md`). The most important variable is `_GROUP`; it should be `/ibm.software.websphere.application-server`.

Please refer to you language specification to set up a variable for a sub-shell invocation.

Thanks,

[2015-07-20 01:33] isom3250 commented on #5
Hi:

Thanks for your fast response. I have added an environment variable _GROUP and I still have the following no protocol error:

C:\maven\googleGroup\google-grp-scraper\target>java -jar google-grp-scraper-0.0.
1-SNAPSHOT.jar 'https://groups.google.com/forum/#!forum/ibm.software.websphere.a
pplication-server' 20
Exception in thread "main" java.net.MalformedURLException: no protocol: 'https:/
/gro

[2015-07-20 02:28] icy commented on #5
Hi @isom3250 ,

I think we are talking about two different tools. You're talking about this https://github.com/himukr/google-grp-scraper . Mine version is competely written in #bash; it's nothing to do with `java`.

Thanks,

[2015-07-20 13:57] #5 closed

[2015-10-07 13:25] briatte opened #6 "wget.sh generated but nothing follows"
Hi,

Would you mind adding some notes on how to troubleshoot the script?

I'm trying to download [this list](https://groups.google.com/forum/#!forum/ggplot2) with the following parameters:

[code]

The next commands then generate the `wget.sh` file and try to run it, but the file itself does not seem to run on anything:

[code]

Thanks in advance for any pointers. The `wget.sh` file I get is copie

[2015-10-07 15:01] icy commented on #6
I will. Basically, it's about adding some `wget` option to get more verbose message.

What's OS you're running? Do you have any output from the command `./crawler.s -sh > wget.sh`?

I've tried to run (exactly as you did, except I don't need `export _WGET_OPTIONS="--no-check-certificate"` on my ArchLinux machine), and I have very good result (as below).

I suggest you to remove the temporary direct

[2015-10-07 15:05] briatte commented on #6
I'm running Mac OS X 10.9.5, and here's the requested output:

[code]

Anything weird in that output?

I have tried refreshing the `ggplot2` folder completely, to no avail.

[2015-10-07 15:07] briatte commented on #6
More pointers to my config:

- GNU Wget 1.15 built on darwin13.1.0.
- awk version 20070501

(I had to install wget through homebrew.)

[2015-10-07 15:24] briatte commented on #6
Okay, just ran your script with Xubuntu, and it works fine.

Last question: what do I need to set to scrape old messages? The default settings seem to have scraped only a tiny fraction of the emails, and I supposed that those that got scraped are the most recent ones.

Thanks again for your help!

[2015-10-07 15:42] icy commented on #6
Perfect. I haven't Mac for test; I would ask some guy to improve the script

By default, `crawler.sh` will get all threads, messages from your Google archive. When you use `-rss` option (as in `crawler.sh -rss`) it will read group's atom file for the latest messages.

For example, I can fetch a 4-year archive of my group (http://l.archlinuxvn.org/archlinuxvn/). After I fetch all mesages, I need to

[2015-10-07 15:45] briatte commented on #6
Hmm, I have run the following commands, and my `mbox` folder has only 95 messages… Is Google limiting the number of messages that I can retrieve?

[code]

Similarly, I get only one file in `threads/`, called `t.0`, with only 23 lines.

Sorry if my questions are very basic. I'm struggling to understand how this all works.

[2015-10-07 16:08] icy commented on #6
Let me check. There may be something wrong with the script!

[2015-10-07 16:43] icy commented on #6
I've fixed the regular expression issue the last two commits. Please try to run `wget -sh` again (you don't need to remove the current temporary directory.)

Thanks a lot!

[2015-10-07 17:14] briatte commented on #6
The scraper has been running for some time now, everything seems to be alright with `crawler.sh`. I have not yet tested `wget.sh` but I guess it will go fine.

Thanks a lot!

[2015-10-07 23:03] icy commented on #6
Ah my bad, it's not `wget-sh` what I meant was `crawler.sh`.

Thanks again for your patience. I would reopen this ticket because there was a problem with Mac support.

[2015-10-07 23:34] briatte commented on #6
As far as I can tell, it's not your fault: it must have to do with the versions of `sed` / `awk` / `bash` / `wget` that are installed as part of Mac OS X. My best guess is that the issue is either with `awk` or with `wget`.

Also note that I am using Mac OS X 10.9.5, which is quite old by now (current OSX is 11.0).

What versions of `awk` and `wget` are you running?

[2015-10-08 00:00] icy commented on #6
I understand.

My versions are `GNU awk 4.1.3`, and `GNU wget 1.16.3`. It's possibly the order of options that matter. (Similar issue https://github.com/icy/pacapt/pull/59)

[2015-10-13 16:57] Gnouc commented on #6
@icy @briatte: I bet that it's not `awk` problem.

`awk '{print $NF}'` work in all known `awk` variants, include the `oawk` from heirloom tools chest or Brian Kernighan [own one](http://www.cs.princeton.edu/~bwk/btl.mirror/).

[2015-10-13 17:07] icy commented on #6
@Gnouc I thought it's due to a `wget` issue. I used `-O` (output) option at the end of the argument list, as below

[code]

As I recall that won't work on `FreeBSD` system. Similar to what you said about `grep foo -q` issue in `pacapt` project.

[2015-10-13 17:38] Gnouc commented on #6
@icy: If you used GNU tools, you're fine with that.

`wget google.com -O /tmp/test` work fine in my FreeBSD 11.

[2015-10-13 20:25] cmpitg commented on #6
Confirm working for FreeBSD 10.2 as well, GNU's wget from FreshPorts.

[2015-10-13 21:01] icy commented on #6
Thanks @Gnouc  and @cmpitg {happy to see you again;)}

[2015-10-18 12:35] cmpitg commented on #6
Me too :-).

[2015-12-15 03:21] luk4hn commented on #6
@icy

[2015-12-15 03:25] luk4hn commented on #6
@icy : just have a quick test on OSX 10.10.5
The problem is BSD `sed` version on OSX don't interpret `\n` as a newline so it would break `
_links_dump()` function.
Try replace `sed -e "s#['\"]#\n#g"` with `| tr "['\"]" "[\r\n]" \` worked.

[2015-12-15 03:39] Gnouc commented on #6
@luk4hn What's the point of `"[\r\n]"`? It will replace `'` with `\r` and `"` with `\n`.

If you worry about the newline character in OSX, then insert it literal:
[code]

or using `bash` quoting `$'\n'`.

[2015-12-15 03:45] luk4hn commented on #6
@Gnouc : Hehe I just tried to point out the problem.
Thank you for the bash quoting :+1:

[2015-12-16 15:01] icy commented on #6
@luk4hn Can you please send a pull request?

[2015-12-19 03:41] #6 closed

[2016-02-13 15:04] Juanlu001 opened #11 "[non-issue] This is awesome"
This script is awesome and I just wanted to point that up. Thanks, congratulations and may the force be with you.

[2016-02-13 15:04] #11 closed

[2016-02-14 06:07] icy commented on #11
Thanks a lot, @Juanlu001 :)

[2016-03-09 04:54] dado3212 opened #12 "Failed to fully download large group"
I'm a member of a very large group (>14k topics), and I tried to use your script to fully download all of it.  However, I only extracted ~4k entries into the generated 'mbox' folder, and is missing a lot of the older messages.  Any idea on why your script wouldn't get all of them?

[2016-03-09 04:59] dado3212 commented on #12
Whoops, didn't realize that ./crawler -sh had to be run through completely first.

[2016-03-09 04:59] #12 closed

[2016-03-09 04:59] icy commented on #12
Awesome, @dado3212 !!

[2016-03-09 09:02] dado3212 opened #13 "Error when handling very large google groups"
While my previous problem was resolved, when running it correctly I hit another problem.  At a certain point, `cat` can't handle the total number of lines, and it will throw the error `-bash: /bin/cat: Argument list too long` on line 155.  The resolution for this is to use `ls`, and for each filename `cat` just file, and run the process on them.  There may also be a more elegant solution.

[2016-03-09 11:12] icy commented on #13
Oh, I see. Your list is too big . I'm taking a look on this. Stay tuned.!

[2016-03-09 11:17] icy commented on #13
@dado3212 Would you mind pulling the latest code and try again? Thanks a lot.

[2016-03-17 17:38] icy commented on #13
Hi @dado3212, are you able to fix the problem with new commit? Thanks.

[2016-03-17 17:39] dado3212 commented on #13
Yup, that did it.  Thank you!

[2016-03-17 17:39] #13 closed

[2016-03-20 11:03] RuinCakeLie opened #14 "Fails on groups with adult content"
I'm trying to scrape a group (https://groups.google.com/forum/#!topic/3dprintertipstricksreviews/) with the adult content flag turned on. Unfortunately, even using cookies all the `escaped_fragment` requests only return:

    Adult Content Warning

    The Group you selected has been identified by its owner as containing adult content.

[2016-03-20 23:52] icy commented on #14
Interesting. I will take a look. Thanks for your reporting.

[2016-03-22 00:03] icy commented on #14
Google yields `empty` contents on when `escaped_fragement` is specified, e.g.

https://groups.google.com/forum/?_escaped_fragment_=forum/3dprintertipstricksreviews

This is against (?) the standard. We need a different way to receive data from Google. This is a real challenge!

[2016-03-22 01:28] icy commented on #14
Google hides most email heades from the raw message. A raw message isn't actually raw ;)

See also https://groups.google.com/forum/message/raw?msg=3dprintertipstricksreviews/LDFZVHeC8Uk/2D1YhGqGDQAJ

[code]

[2016-03-26 08:44] icy commented on #14
It's impossible to use traditional method to fetch data from this group. We need to use some higher level tool like `phantomjs`.

Well, after days of trying `scrolling` method, I've finally found a way to automate the process. There is two other challenges, but they're definitely solvable.

Stay tuned!

[2016-05-20 02:21] marceliogp opened #15 "Help to import e-mails at a Closed Google Group..."
Hi Friend,

I have a problem, because I need to export to mbox all Google Group's Messages, but in this group I need to logon with my Google Account and password. In a google account we have a special character '@' and '.'. In my password I have some more specials charecter.

Whe I try to use "crawler.sh" script, it dosen't ask a username and password, and it returns HTTP Error 403 Forbidden.

Do

[2016-05-20 03:33] icy commented on #15
@marceliogp If you are using Firefox, please install some add-ons to manage your cookies. Then log in to your google groups, and use the add-ons to export cookies to a file and specify a `wget` options for the script to load. All basic steps are described here

https://github.com/icy/google-group-crawler#private-group

Google authentication is complex and the script can't handle that. Please try w

[2016-05-23 14:39] marceliogp commented on #15
@icy, very very thank you for your help.

I downloaded all topics from my private google group (about 7800 messages). Your script make a directory structure like:

  ../<group name>/mbox
  ../<group name>/msgs
  ../<group name>/threads

I used new add-on on my thunderbird to import mbox, but it didn't works well. Thunderbird showed a lot of folders (same name of the files inside on 'mbox' folder)

[2016-05-23 15:49] icy commented on #15
@marceliogp Sorry for the confusion. For some reason, I used the `mbox` name, but the files are in `RFC 822` format instead.

If you can write some scripts you may see it's quite trivial to convert the `RFC 822` files to `mbox` files. That was exactly I did for my groups, but unfortunately I couldn't see them here in my terminal's history :(

You make take a look at this http://askubuntu.com/quest

[2016-05-23 16:03] icy commented on #15
As I recall, all I needed to do is add a header line, as below

Original file

[code]

Now insert the `From` and `Date` field at top of the file, and keep all other lines remained

[code]

Now your have a very `correct` file which can be seen by your `mbox` importer. I should have added some notice / guidelines about this.!

[2016-05-25 03:02] icy commented on #15
See also https://github.com/icy/hsabymho/blob/master/libs/raw2mbox.sh

[2016-06-24 21:38] steinwaywhw opened #16 "Problems with exported email address."
Hi @icy, thanks for this awesome tools.

I noticed that the messages it exports (from a public group ats-session-types) only contain emails like this: `<stei...@gmail.com>`, not full email addresses.

I first tried the same request in Chrome, no full email.
I then tried the request with a suffix `&authuser=0` in Chrome and it then shows the full email address.
I then tried the request with a suffi

[2016-06-25 01:18] icy commented on #16
Hi @steinwaywhw,

Arre you sure you followed https://github.com/icy/google-group-crawler#private-group ?

Thanks

[2016-06-25 16:07] steinwaywhw commented on #16
Hi @icy, I used https://chrome.google.com/webstore/detail/cookiestxt/njabckikapfpffapmjgojcnbfjonfjfg?hl=en to export my cookies from Chrome, and specified wget options as instructed. I tried different user agent strings to match my Chrome. I also tried `--load-cookies blabla` as shown in the man page, and `--load-cookies=blabla` as shown in `--help`, and I even tried `curl` with `-b` option, non

[2016-06-26 00:25] icy commented on #16
Hi @steinwaywhw,

I have looked and found a bad news: Google will not expose the original email in any cases unless you're a member and you're a manager of the group. Google changed the behavior since my lastest release of the script.

I'm so sorry but this is a Google problem. I will update the README to avoid any future confusion.

Thanks,

[2016-06-26 03:43] steinwaywhw commented on #16
Hi @icy, sorry i forgot to mention that. I am actually the owner of that that google group. It works in my browser (with valid cookie I guess), but not my from your wget scripts. Even if the requests are from the same IP (my own machine). I think it's either something wrong with the cookie, or they have some way to distinguish a unique browser from any other client like curl and wget.

But anyway,

[2016-06-27 06:03] icy commented on #16
Hi @steinwaywhw,

Thanks a lot. The script is very useful and I will add them to the `contrib/` directory.

A minor note is that the cookie doesn't affect the downloaded messages; that means you need to clean up your local directory after you set up cookie data.

There would be something wrong with cookie handle, and I would have written a test mechanism. I will add that soon.

Thanks again for yo

[2016-08-31 20:49] spacewaffle opened #17 "text formatting/encoding issue turning = signs to =3D"
I got a number of warnings during my scrape that spat out these messages. I could be wrong but it looks like '=' signs are getting acii values inserted into the strings.

WARNING: Could not parse (and so ignoring) '<p class=3D"MsoNormal" style=3D"margin-bottom:0in;margin-bottom:.0001pt;tex='
WARNING: Could not parse (and so ignoring) '<b>Register for our November 29 internship event at</b> <a href

[2016-08-31 22:53] icy commented on #17
@spacewaffle Would you mind sharing your group name (in case it's public)? If not, I'd like to know more logs and details (e.g, at which step do you get this warning).

Thanks

[2016-08-31 23:02] spacewaffle commented on #17
Unfortunately the group isn't public, but I'm trying to import groups data into discourse. here's some more logging.

^C/Users/Jon/.rvm/gems/ruby-2.0.0-p648/gems/mail-2.6.4/lib/mail/utilities.rb:239:in `to_crlf': Interrupt
	from /Users/Jon/.rvm/gems/ruby-2.0.0-p648/gems/mail-2.6.4/lib/mail/message.rb:1998:in `raw_source='
	from /Users/Jon/.rvm/gems/ruby-2.0.0-p648/gems/mail-2.6.4/lib/mail/message.

[2016-08-31 23:14] icy commented on #17
I'm not author of the `mbox.rb`. Where do you get that script? There is probably a problem with encoding processing in this script.

[2016-08-31 23:17] icy commented on #15
@marceliogp Are you able to solve your problem? Thanks a lot.

[2016-08-31 23:22] spacewaffle commented on #17
I added the link to the script in the bottom of my previous post, but it's here for you to look at. Your scraper is a dependency so I figured maybe it's to do with the scraper and not the script.
https://meta.discourse.org/t/migration-of-google-groups-to-discourse/48012

link to repo:
https://github.com/pacharanero/discourse/blob/master/script/import_scripts/mbox.rb

[2016-08-31 23:53] marceliogp commented on #15
Hi friend,

I'm not able to resolve this problem. I used your script to download all
messages, but now I don't know how can I search some subject inside of this
structure.

There aren't any tools to make all structure, that your script makes, for
same email tools, like a thunderbird, outlook or other else.

If you find any tools to help me. I'm really apreciate.

Att.,

Marcelio G. Pereira
Analist

[2016-09-01 01:31] icy commented on #17
Thank you @spacewaffle . How about using encoding instruction?

Current version
[code]

New version / instruction

[code]

[2016-09-01 13:17] icy commented on #15
I'm sorry to hear that. I will take a look at your problem. Stay tuned.

[2016-09-02 13:24] marceliogp commented on #15
Thanks for all...

Att.,

Marcelio G. Pereira
Analista de Sistemas
WebSite:
E-Mails: marceliogp@gmail.com

==================================================================
Esta mensagem, incluindo seus anexos, tem caráter confidencial e seu
conteúdo é restrito ao destinatário da mensagem. Caso você tenha recebido
esta mensagem por engano, queira por favor retorná-la ao destinatário e
apagá-la de

[2016-12-29 17:13] spacewaffle commented on #17
I believe I fixed this issue by upgrading our ruby version to 2.3 which does utf-8 by default

[2016-12-29 17:13] #17 closed

[2016-12-29 17:43] spacewaffle opened #18 "Scrapper running forever, not generating tables"
So I've got the cookie setup and I've actually successfully used the scrapper before. I've been trying to replicate what I did before but I'm running into some issues. The scrapper will run forever with logs like below.

[code]
I eventually killed the process because it was taking multiple hours even though our google groups forum doesn't have that many posts. I found that there were thousands of

[2016-12-29 23:12] icy commented on #18
It seems the service requires login and your cookies don't work. Let me figure it out with a local test.

[2016-12-29 23:21] icy commented on #17
Great to hear that. Thanks for your feedback.

[2016-12-29 23:22] icy commented on #18
I've tested with a private group and I don't see a similar problem. Maybe your cookies are expired. Could you please confirm that your cookies are still valid? Thx

[2017-04-07 11:08] pacharanero commented on #16
Hi @icy, I'm very thankful for your GG export script, which is used extensively for Google Group to [Discourse](https://www.discourse.org/) migrations.

I do however need to point out that the externally contributed code in https://github.com/icy/google-group-crawler/blob/master/contrib/fix_dot_in_users_emails.rb is almost entirely code taken from the Discourse open source forum project, [link](ht

[2017-04-07 13:19] erlend-sh commented on #16
Hmm, right. Seems appropriate to include @eviltrout and @riking in the attribution note. As for the license, I think it'd suffice to include the GPL v2 license inline, just for that specific file? And maybe include a note in the README.md about this exception.

All of that being said, I don't think there's any reason why any of the Discourse import scripts have to be GPL v2 licensed, so I'll look

[2017-04-07 14:36] pacharanero commented on #16
There is also, I have just noticed, a fair bit of my [googlegroups.rb](https://github.com/pacharanero/google_group.to_discourse/blob/master/googlegroups.rb) importer in there, also GPLv2, also unattributed.

[2017-04-08 00:39] icy commented on #16
Hi @pacharanero and @erlend-sh,

Thanks a ton for your feedback. It's definitely my mistake when I didn't provide enough information for the script. I'm going to fix that. I will keep you posted.

Have a great day.

[2017-04-19 03:17] anhtiki commented on #16
Sorry for my belated response. I will update the script information today. Thanks for your patience.

[2017-04-24 02:11] #16 closed

[2017-05-06 03:47] icy commented on #15
sorry for my late response. Are you able to resolve your problem? Would you mind taking a look at a similar problem here https://github.com/icy/google-group-crawler/issues/16? Thanks.

[2017-06-30 16:15] bisherbas opened #20 "Private Google Group mbox file not generated"
I set up everything correctly. Cookies, group name etc. And all thread and msg files have been downloaded successfully to their designated folders. However, mbox folder is empty. mbox has not been generated for some reason. Looking through the command window history, I do not see any error messages. Can you please help? Thanks. Running it on Ubuntu.

[2017-07-03 23:19] icy commented on #20
Thank you @bisherbas for reporting. I'm sorry for any inconvenience: Google seems to block all raw messages of private groups. I don't even see any button to download original message when viewing any message in a group group. Do you see any?

The problem is really a challenge now and I have no idea to resolve it :(

[2017-07-03 23:22] icy commented on #20
To confirm this: You can open the script generated by `crawler.sh`: There are a lot of links, for example

[code]

You can try to open the `raw` link on your browser if it works.

The interesting thing is that I have two different private groups. I can download messages from on of them (`archlinux-security`, as above), but I can't download any private message from the other. I will take some furth

[2017-11-15 08:10] demostars opened #21 "Can not get all the mbox"
Thank you for your work.

I try to get a google group named fanfou-digest which has 1373 topics but with this crawler there are 21 files in mbox folder,  the newest 21 topics, is this a bug or did i do something wrong? Can i get 1373 files with this crawler?

[2017-11-15 08:52] icy commented on #21
Hi @demostars,

Is it this public group https://groups.google.com/forum/#!forum/fanfou-digest ? I will give a try if something wrong happens.

[2017-11-15 09:08] demostars commented on #21
Yes it is a publiuc group and accounding to the file in threads folder, it stoped when there is another page to  continue,
![1510736561 1](https://user-images.githubusercontent.com/20697190/32827383-f736a764-ca26-11e7-835e-30d28b12be5b.png)

alse i try to run crawler with cookie，same question, is there any other group has the same question? doesn't it come with pages?

[2017-11-15 09:14] icy commented on #21
@demostars The script can work with paging: as long as it sees something like `_escaped_fragment_` in the output it will try to follow that link. In case it doesn't work, maybe there is an encoding issue.

I haven't tested the script on any encoding other than `UTF-8`. Maybe you force the script to use that

[code]

This will not hurt any contents as I understand. My testing script is still runnin

[2017-11-15 09:22] demostars commented on #21
Well, that make sense, i am running Ubuntu with Chinese, but still does not work, i will try to run the crawler  on another Ubuntu with English.

Thank you!

[2017-11-15 10:06] icy commented on #21
@demostars On an Ubuntu system with US locales, I can see the script works well (so far).  The generated script is here https://gist.github.com/icy/6f8683ded1ce0860dad387f8d845aa64 . You may use them to download all _(almost)_ original mbox files.

Hope this helps.

[2017-11-15 10:11] demostars commented on #21
Thank you, i tryed to run On an Ubuntu system with US locales, the same issue, so strange.

Thank you so much!

[2017-11-15 10:34] icy commented on #21
weird. maybe you have any problem with your network? Maybe you send me the output for further debugging? Or you can try the script above that's the complete list of all messages that you need to download from the current archive.

[2017-11-16 05:40] demostars commented on #21
Yep, with your script above i have downloaded all the archive, what output do you need? In the terminal or in the folder?

[2017-12-01 01:59] cryptoque commented on #15
Hey @icy , thanks for your script. I tried it and three folders are quickly generated (mbox, msg, threads), except that threads contains a file called t.0 which is also empty. Commandline returns:

:: Skipping './mygroupname//threads/t.0' (downloaded with 'forum/ndlug-list')

Anything I have missed there?

Thanks for your help.

[2017-12-01 02:53] icy commented on #15
hi @cryptoque,

Are you working with closed groups? Then the problem may be due to wrong cookie. I will give another tests with my closed group if there is any changes from google.

[2017-12-01 03:21] cryptoque commented on #15
@icy thanks for the quick reply! It is an open group:

Anyone from the xx organization can view content.
Anyone can apply to join.
Only members can post.
Anyone from the xx organization can view the list of members.

Initially without the cookie file I got a 403 forbidden, however after exporting the cookie file as instructed and rerunning, I saw the 403 error message gone and the following is ret

[2017-12-01 03:29] icy commented on #15
Oh I see. For organization's group I think you may need to set up environment variable `_ORG` as seen here https://github.com/icy/google-group-crawler/blob/ee4cfe61ee83270fadef08c87acbe5876d77ff24/README.md#group-on-google-apps . Please try again if that helps. You may need to delete all directories generated by the script before trying.

[2017-12-01 03:41] cryptoque commented on #15
@icy Yes, that is what I tried initially, with _ORG set. I will try to locate the problem with more tests, hopefully.

[2017-12-01 03:55] icy commented on #15
I'm sorry that didn't help. I will try to test today if there is any problem. In the mean time, you may want to initial some `wget` command manually using your cookie file: `crawler.sh` generates a bash script, and if you look at the file, you can see the full wget command. Adding `--verbose` option to `$_WGET_OPTIONS` also helps

[2017-12-01 19:45] bisherbas opened #22 "400 Bad Request Error"
For some reason the `wget` link is not formatted properly so when I run the update.sh or wget.sh, I get the following error. I replaced the actual group name with GROUPNAME for privacy.

**update.sh content** https://gist.githubusercontent.com/bisherbas/c46129e17fb60bfa7df08ebd70458bf4/raw/1b98f4cb41688c1c73cc4a8dcae64cdd6a80f24e/gistfile1.txt

**example of terminal output**
`--2017-12-01 14:41:09

[2017-12-01 19:46] bisherbas commented on #22
`   1 #!/usr/bin/env bash
   2
   3 export _ORG="${_ORG:-}"
   4 export _GROUP="${_GROUP:-GROUPNAME}"
   5 export _D_OUTPUT="${_D_OUTPUT:-./GROUPNAME/}"
   6 export _USER_AGENT="${_USER_AGENT:-Mozilla/5.0 (X11; Linux x86_64; rv:34.0) Gecko/20100101 Firefox/34.0}"
   7 export _WGET_OPTIONS="${_WGET_OPTIONS:---load-cookies /home/james/cookies.txt
   8                       --keep-session-cookies}"

[2018-02-16 22:05] bisherbas commented on #22
Same for me. Getting nothing but 400 bad requests.

[2018-02-28 03:26] bisherbas commented on #20
Closing since it's all working well now.

[2018-02-28 03:26] #20 closed

[2018-02-28 03:31] bisherbas commented on #22
Closing. Works now. Future visitors: Make sure the group name set in the code is all **lowercase**.

[2018-02-28 03:31] #22 closed

[2018-02-28 06:38] icy commented on #22
Thanks a lot @bisherbas . I have had a small commit to make sure `_GROUP` is in lowercase.

[2018-02-28 11:08] bisherbas commented on #22
Thanks a lot!

[2018-03-03 04:33] icy opened #23 "Adding test cases"
- [x] Public groups
- [x] Private groups
- [x] Organization private groups
- [x] Organization public groups
- [ ] Adult contents groups

[2018-03-03 04:40] icy commented on #21
@demostars How is thing going? Are you able to use the script?

I have added some tests and the result is found on Travis-CI, for example https://travis-ci.org/icy/google-group-crawler/jobs/348543280

[2018-03-23 01:44] rhukster opened #24 "Cookies don't seem to be working.."
I'm trying to grab the contents of a private Google group we've been using as a group inbox, and create an mbox file so we can import the messages back into an IMAP account.

I've followed the instructions, and even when I grab the cookies via multiple ways (firefox with cookie exporter, chrome with cookies.txt plugin), then set my wget options, i always get the same response from wget:

[code]
It

[2018-03-23 01:50] rhukster commented on #24
BTW used this Firefox extension: https://addons.mozilla.org/en-US/firefox/addon/cookies-txt/?src=search

And this Chrome one: https://chrome.google.com/webstore/detail/cookiestxt/njabckikapfpffapmjgojcnbfjonfjfg
and this one: http://www.editthiscookie.com/

No dice...

[2018-03-23 03:01] icy commented on #24
Hi @rhukster ,

I'm sorry for any inconvenience. Did you use `_GROUP` variable to specify your company information? (e.g, `export _GROUP=mycompany.com`).

I will give some tests with private group in a organization today.

Thanks

[2018-03-23 11:51] rhukster commented on #18
BTW I have the same issue.. perhaps because both of these are groups on  Google Apps (Business) accounts and not simply private groups.

[2018-03-23 17:12] rhukster commented on #24
No, I used `_ORG` for that:

[code]

[2018-03-24 04:50] icy commented on #24
@rhukster You're right. Please make sure `_ORG`'s value is in lowercase. (See also #22.)

I have some problem setting the business plan for my org, which is required for the test. Stay tuned.

Thanks

[2018-03-24 06:05] icy commented on #24
I can reproduce the problem now (=_ORG`'s value is lowercase). I am taking further look at this issue. Thanks for your patience

[2018-03-24 06:33] icy commented on #24
I'm pretty sure that the script will not work with (new) Organization groups: They are written in new web framework (single-page application). This is similar to issue reported on #14. Let me see if there is any work-around.

[2018-03-24 08:19] icy commented on #24
Related issue: https://productforums.google.com/forum/#!topic/apps/wqY5t0D70qw

[2018-03-24 08:43] icy commented on #24
@rhukster Good news for you. The addons https://addons.mozilla.org/en-US/firefox/addon/cookies-txt/?src=search generates some weird output. You can fix as below

1. Generate cookie file by using that addons (`cookies-txt`)
2. Open the file, and remove all strings `#HttpOnly_`
3. Remove all temporary directory (the script would create `devs` directory in your working directory), and try again.

I h

[2018-03-24 09:09] icy commented on #18
@rhukster  @spacewaffle It seems there is a problem with cookie file generated by browser's extension. See also https://github.com/icy/google-group-crawler/issues/24#issuecomment-375856663 . I have updated README.md accordingly.

Thanks a lot.

[2018-03-25 08:08] icy commented on #23
Testing for groups in Organization is now supported: https://github.com/icy/google-group-crawler/commit/54820d8023f2fb97e0c8adbf86ab31303d33a2f6 . In an Organization, there is no such thing `public group`

[2018-03-25 08:14] icy commented on #23
Private groups supported: https://github.com/icy/google-group-crawler/commit/c0fff6330728393828d29d35816724cb326a5a07

[2018-03-30 03:22] kyanh-huynh commented on #14
I have some initial works on this issue, but (1) it's slow (2) it's undetermined. Maybe I am not good at `selenium`.

I'm expecting there's someone can help. I can raise a small fund to support you.

Thanks a lot

[2018-04-03 21:46] gagarine opened #25 "Export content between date"
I want to export soc.culture.soviet but it's big... In fact I'm only interested of a five months period. I didn't see a way to export only between a specific period.

[2018-04-04 04:33] icy commented on #25
Hi @gagarine,

Do you know the page range? Google group pagination works on numbers (e.g, 30 posts per page), and that doesn't have anything related to date. If you navigate the group contents to see an approximate number that would help, e.g,

https://groups.google.com/forum/?_escaped_fragment_=forum/archlinuxvn%5B21-40%5D

However, this doesn't really work all the time. Users can post to very ol

[2018-04-04 20:46] gagarine commented on #25
Mmmmh I understand. Using the google group interface, I was using a filter on "first post" and looked between 1991 january to 1991 december. My primary interest is around august so that would be

https://groups.google.com/forum/?_escaped_fragment_=forum/soc.culture.soviet[27630-27720]

Yeah, I saw the import was faster that I tough. I tried a full import but it seem that google killed my connectio

[2018-04-05 02:36] icy commented on #25
It's interesting to hear that Google killed your connection :) I am not if adding some sleep to the hook can help (https://github.com/icy/google-group-crawler#the-hook)

I will try to have a range support for the script, so that you can specify `27630-27720` as input.

[2018-05-17 11:48] demostars commented on #21
Thanks,that works on me.

I think you can close this issues.

[2018-05-17 11:49] #21 closed

[2018-06-08 02:24] icy opened #26 "Problem on Bash / Windows"
See also https://stackoverflow.com/questions/50749033/0-byte-file-extracted-when-downloading-google-group-data

[2018-08-14 00:15] LeeKevin opened #27 "Crawler doesn't work when tags are enabled on the group"
When tags or categories are enabled on the group, the crawler simply returns a list of the tags/categories.

To properly access a list of all topics when tags or categories are enabled for a group, the topics URL is: `https://groups.google.com/{ORG}/forum/?_escaped_fragment_=categories/{GROUP}`

Just FYI!

[2018-08-14 00:19] icy commented on #27
I didn't know that feature, @LeeKevin . Thank you very much I will fix the script soon.

[2018-08-14 00:28] LeeKevin commented on #27
To get it to work, I've just updated the initial `_download_page` call from `?_escaped_fragment_=forum/$_GROUP`to `?_escaped_fragment_=categories/$_GROUP`.

This will work in both cases--regardless of whether the group has categories or tags enabled.

[2018-08-14 00:49] #27 closed

[2018-08-15 06:00] icy commented on #24
Changes:

* Detect loopping issue
* Improved documentation (Remove `#HttpOnly_` strings from cookie file.

Feel free to reopen the ticket if there is any looping issue. Thanks a lot.

[2018-10-15 15:57] nevesnunes commented on #26
It's not clear what subsystem OP is using, but it works for me under MSYS2. My packages are:

[code]

[2018-10-16 03:42] icy commented on #26
@nevesnunes I think it's the Linux system provided in Windows 10 (and higher). I haven't had any Windows (>=) 10  to test here though.

[2018-10-17 19:32] jpellman commented on #24
I seem to be encountering this issue as well as of this morning, which is strange since I was able to get this to work without the error on 10/2/18.

[2018-10-17 20:10] jpellman commented on #24
It seems like this was just an issue with my cookies.txt file- I was missing the _groupsloginpref_ cookie for some reason and that seemed to be the source of my issue (which was more or less identical to the first code block in this issue).

It might be worth mentioning in the Readme the exact cookies that are needed for private group scraping to work, according to [here](https://git.scuttlebot.io

[2018-10-18 01:49] icy commented on #24
Thanks a lot for your very useful feedback @jpellman . I will update `README` accordingly.

[2018-10-18 14:36] jpellman commented on #24
Ach- I finally figured out what this was.  Basically, my issue was that I wasn't reading the instructions properly.  I somehow misconstrued "When you have the file, please open it and remove all #HttpOnly_ strings." in the README to mean "remove all lines starting with #HttpOnly_" when it meant "find all instances of #HttpOnly_ and replace them with an empty string".  It might be worth adding a se

[2019-01-20 17:57] icy commented on #24
Cookies don't seem to be working... Google now has denied to crawler lolz

[2019-01-20 18:48] #24 closed

[2019-02-28 07:07] alexivkin opened #29 "Raw access denied"
Private group, crawler works fine. When running the resulting bash no messages are downloaded. When copy-pasting the .../forum/message/raw?msg=... url to the same browser that exported cookies I get "access to groups.google.com was denied". Browsing works fine, messages show up ok in the normal UI, but I noticed that there is no option to  "show original"  on the drop down next to the message.

I'

[2019-02-28 11:46] icy commented on #29
Hi @alexivkin , what kind of that group? The script can't download from Adult content group. This kind of group causes problem similar to your one.

[2019-02-28 17:47] alexivkin commented on #29
It's a normal private GSuite group

[2019-02-28 18:22] icy commented on #29
Please make sure that you have set environment variable `_ORG=Your_Gsuite_Domain` before you start the script. If you already did that, please check if the group allows archive access

- `Group Settings` -> `Content Control` -> `Group content classification`: Should be **Everyone**, and **Archive Options** should be enabled.

My Gsuite account was expired I don't have any better idea now. As long

[2019-03-01 21:03] alexivkin commented on #29
For some reason I can't find the content classification in the group settings, even though I am the owner.
I figured out a different solution - changing wget from raw to
https://groups.google.com/a/....com/forum/print/msg/....

Although I am missing the message headers and other metadata, it's good enough for my needs. Thank you very much for the excellent script that you wrote!

[2019-03-02 07:28] icy commented on #29
Thanks a lot @alexivkin . I'm happy that you can get around the problem. That's really interesting about the printing function and how you found it. Let's leave this issue open in case someone can figure out more details.

Nice weekend.

[2019-04-24 14:30] t-np commented on #26
@nevesnunes works for me under my wsl environment with GNU bash, version 4.4.12(1)-release (x86_64-pc-linux-gnu) i used the debian base when installing wsl

[2019-07-11 06:47] zipob opened #30 "Fails on groups with "+" character on name"
Fails when trying to download messages from groups with "+" on name like sfnet.harrastus.audio+video.

[code]

[2019-09-18 08:41] tschwinge opened #31 "Deleted message: "500 Internal Server Error""
During the "wget" stage, I noticed a "500 Internal Server Error" happen that makes wget exit with code 8:

    --2019-09-17 22:44:27--  https://groups.google.com/forum/message/raw?msg=polly-dev/ExZHA5VptKQ/B0aFnxg2uDEJ
    Auflösen des Hostnamens groups.google.com (groups.google.com)… 2a00:1450:400c:c09::64, 64.233.166.102, 64.233.166.138, ...
    Verbindungsaufbau zu groups.google.com (groups.goo

[2019-09-18 09:09] tschwinge commented on #31
Looking at `wget -O - 'https://groups.google.com/forum/?_escaped_fragment_=topic/polly-dev/ExZHA5VptKQ' | less`, we see:

    [...]
    <br>Thanks again,
    <br>Tobi
    <br>
    <br></div></div></div></td></tr> <tr><td class="subject"><a href="https://groups.google.com/d/msg/polly-dev/ExZHA5VptKQ/B0aFnxg2uDEJ" title=""></a></td>
    <td class="author"><span>unk...@googlegroups.com</span></td>

[2019-09-19 12:42] tschwinge commented on #31
Was looking at the wrong files...  There are legit messages with `title=""`, see `7gf3qJET-SEJ` in <https://groups.google.com/forum/?_escaped_fragment_=topic/polly-dev/3RrIOur9vLM>, for example.

I'll work on a different solution.

[2019-11-03 21:54] Pikrass opened #32 "Optimize and parallelize the downloads"
Hi!
First of all, thank you for your script, it really helped me!

I wanted to download a 350000-message group. As you can imagine, it was taking a while.
I realized the script was creating a wget process, and therefore a single connection to Google, for each and every forum page, thread page, and message. Which is really inefficient.

So I improved the generated script so that
1. a bunch of messa

[2019-12-20 18:25] want-to-export-group opened #34 "HTTP Error 413"
I am trying to archive messages from a large private group. The script seems to run fine, until the "Fetching data" step. Here is the output (the name has been changed to "group"):

:: Downloading all topics (thread) pages...
:: Creating './group//threads/t.0' with 'categories/group'
:: Fetching data from 'https://groups.google.com/forum/?_escaped_fragment_=categories/group'...
--2019-12-20 13:16:

[2019-12-20 18:34] want-to-export-group commented on #34
The test script works fine for "google-group-crawler-public" but fails for "google-group-crawler-public2" due to HTTP error 500. Could something be going wrong with the cookies?

[2020-01-24 15:30] beardyjay opened #35 "Mbox format"
Hi,

First of thanks for these scripts, they were a huge help and this question is possibly out of scope of the project. I downloaded a group with around 90k messages with no issues; I adapted the wget.sh outputted script slightly with the modification provided in #32. All the messages are now in $GROUP/mbox formatted with RFC 822.

I am looking to convert this to an actual single mbox file format

[2020-01-31 09:39] pmwheatley commented on #35
I've found it to not be quite as simple as just concatenating the messages unfortunately. mbox seems to depend on the first line of every message being the `From:` line. The crawler currently just downloads the raw message (which may or may not have the `From:` line as the first line).

Something similar to this bash command `(echo '/^[Ff][Rr][Oo][Mm]:/m0'; echo w; echo q ) | ed $file` will move t

[2020-01-31 11:16] pmwheatley commented on #35
Also potential issues around escaping other occurrences of `From` to look at: http://fileformats.archiveteam.org/wiki/Mbox

[2020-03-13 22:32] RelativePrime opened #36 "Loop Detected with Seemingly Valid Cookie"
Hello,

I'm having an issue similar to issue #24 though not had luck getting the exported, edited, cookie to auth to a private group (no _ORG) and when running tests/test.sh receive a Loop Detected warning.

cookie was exported using chrome cookies.txt extension, has been modified using fix_cookies.sh and appears correct

envs are exported as

[code]
tests/test.sh ends with

[code]
Any suggestions

[2020-04-09 17:03] icy commented on #34
@want-to-export-group  Was you able to resolve the issue?

[2020-04-09 17:05] icy commented on #35
Hi @beardyjay and @pmwheatley , I'll have a look at how I played with the mbox files. I didn't notice there is an issue in my project. I shoot myself in the foot with my notification setting :(

[2020-04-09 17:10] icy commented on #36
Hi @RelativePrime , I have some sample cookie files here https://github.com/icy/google-group-crawler/tree/master/tests. Can you please have a look if you have the same file format? Thanks

[2020-04-09 17:11] icy commented on #34
I haven't seen that issue. Maybe it's a temporary network issue, you can look at the wget command and retry if that helps.

[2020-04-09 17:14] icy commented on #31
You can use some hook to as in my example https://github.com/icy/google-group-crawler#the-hook, but that requires some small effort.

You can also scan the output directory for empty files and remove them. This is often easier.

[2020-04-09 17:16] icy commented on #30
hi @zipob , thanks a lot for your reporting. This is probably because the query wasn't encoded correctly before being sent to google server. I will try with some fix soon.

And I'm sorry for my belated response.

[2020-04-12 07:44] icy commented on #34
Yes I can confirm this issue. Google has changed something to prevent our script from working :(

[2020-04-12 07:54] #29 closed

[2020-04-12 07:54] #26 closed

[2020-04-12 08:05] icy commented on #32
That's excellent @Pikrass . I will update the README to mention your script, and I think that's fine enough at the moment.

My intention was to slowly query google server so the script won't be locked down; that's why I didn't have parallel support out-of-the-box.  Once you have the generated script, you have a few options to continue, e.g, your way, or you can also feed the gnu parallel tool.

[2020-04-12 08:05] #32 closed

[2020-04-12 08:09] icy commented on #32
I mention your script here https://github.com/icy/google-group-crawler#contributions . Thanks a lot.

[2020-04-12 08:12] icy commented on #29
I have updated the README to mention the trick: https://github.com/icy/google-group-crawler#contributions . thanks again

[2020-04-12 08:20] icy commented on #35
I think I also followed the same way as @pmwheatley suggested  https://github.com/icy/google-group-crawler/issues/15#issuecomment-221018338 . I believe I did that with a little Ruby script, which I lost in my bunch of files now.

[2020-04-12 08:21] icy commented on #35
oh, I just found I also have a small script for converting https://github.com/icy/bashy/blob/master/libs/raw2mbox.sh , but I haven't used them for so long time. It's good for a reference purpose.

[2020-04-12 08:23] #35 closed

[2020-04-12 08:25] icy commented on #31
I'm closing this ticket as there is a work-around with the hook. Feel free to re-open the ticket and/or submit a PR if you think it's good to have the deletion feature enabled by default. Thanks a lot.

[2020-04-12 08:25] #31 closed

[2020-04-12 14:15] want-to-export-group commented on #34
No I was not able to resolve it

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Thursday, April 9, 2020 1:03 PM, Ky-Anh Huynh <notifications@github.com> wrote:

[2020-04-12 14:49] icy commented on #34
:( it's used to work. Now accessing from the web browser also generates an error https://groups.google.com/forum/?_escaped_fragment_=categories/google-group-crawler-public2

[2020-04-13 04:32] icy commented on #34
By mistake `google-group-crawler-public2` was set to private mode. Now it's fine. Btw, I have rewritten the script using curl hopefully it can help to resolve a few strange issue. Stay tuned.

[2020-04-13 04:46] icy commented on #30
Google has spec. here https://developers.google.com/search/docs/ajax-crawling/docs/specification, but it doesn't sound working, e.g,

https://groups.google.com/forum/?_escaped_fragment_=forum/sfnet.harrastus.audio%2Bvideo

will generate a `invalid group name` error

[2020-04-13 04:48] icy commented on #30
probably it's deprecated https://webmasters.googleblog.com/2015/10/deprecating-our-ajax-crawling-scheme.html

[2020-04-13 05:44] #36 closed

[2020-04-13 05:44] #34 closed

[2020-04-13 05:48] icy commented on #36
The problem should be fixed in the latest version 2.0.0 (using curl). Please have a look if it's better. Thanks.

[2020-04-13 05:48] icy commented on #34
The problem should be fixed in the latest version 2.0.0 (using curl). Please have a look if it's better. Thanks.

[2020-04-13 15:58] icy commented on #25
Someone can download 350k messages from a group (https://github.com/icy/google-group-crawler/issues/32), maybe this isn't an issue so far. As I didn't intend to have pagination support, I will close this ticket. Free free to reopen it if there is any better idea to support the feature.

Thanks a lot.

[2020-04-13 15:58] #25 closed

[2020-04-13 16:01] icy commented on #15
This topic contains a few different issues. As now the script switches to use `curl`, please try it out if you have the same issues with the output. To process the results mbox files, please look at for example https://github.com/icy/google-group-crawler#what-to-do-with-your-local-archive.

Thanks a lot.

[2020-04-13 16:01] #15 closed

[2020-04-13 16:02] icy commented on #23
tests are working well with private groups. We haven't supported group with adult contents yet, so it's fine to close this ticket now.

[2020-04-13 16:02] #23 closed

[2020-04-13 16:05] icy commented on #18
The problem probably was that the script couldn't detect the loop in case of invalid cookie is provided. That'd be fixed now. Moreoever, the new version is using curl with better cookie string settings instead of netscape cookie file with wget. Please try it out.

Thanks a lot.

[2020-04-13 16:05] #18 closed

[2020-08-16 03:29] Zedseayou opened #38 "Started to fail when using cookie with "error trying to read config from the 'curl-options.txt' file""
Hi, thank you for writing this script!

I noticed that downloading from private groups appears to have broken for some reason. The included test files fail on `_test_public_2_with_cookie()` as well. The error is:
[code]
It seems like this error is being thrown by curl itself? I'll try to look into it some more but not the most familiar with these tools. I have curl 7.38.0 since I am on an old vers

[2020-08-19 16:10] icy commented on #38
@Zedseayou thanks for your feedback and using my script.

Do you have anything in the `curl-otions.txt`? It's cookie file used by `curl`, and it's supposed to be generated by yourself (https://github.com/icy/google-group-crawler#private-group-or-group-hosted-by-an-organization).

[2020-08-19 16:12] icy commented on #38
Please note that, cookie generated from your browser has quite short TTL (time to live). You likely have to generate that file after a few days (I don't know exactly)

[2020-08-19 16:14] icy commented on #38
The test is designed to work with Travis CI system (https://github.com/icy/google-group-crawler/blob/master/.travis.yml). I'm sure the tests would be broken now because cookie data are out of date. Everytime I need to execute the tests, I have to update those data. In the source you will that file encrypted (https://github.com/icy/google-group-crawler/blob/master/tests/curl-options.txt.enc), and y

[2020-09-23 22:04] Zedseayou commented on #38
I did have updated values in `curl-options.txt` when I ran this, but I haven't tried again recently. Will follow up and let you know

[2020-10-11 02:38] durka commented on #12
I am also having this issue with a large group. The crawler seemed to stop in the middle for no reason.

[2021-03-10 23:36] tjluoma opened #39 "Only retrieved the 50 most recent posts"
I did this:

[code]

and it saved like 4000+ files, but the 'mbox' folder only has 50 items in it, and <https://groups.google.com/g/bbedit> says there are 4,444 messages in the group.

Is there something else I need to do? This is a public Google group so I thought that what I did was sufficient.

Thanks!

[2021-03-12 17:01] icy commented on #39
@tjluoma right that's fine. Let me try on my laptop if I can reproduce your issue. Thanks

[2021-03-12 18:40] icy opened #40 "Move .travis.yaml --> github.action support"

[2021-04-16 22:53] ricks03 opened #41 "How to determine how many messages were pulled in?"
My number of files in mbox, and my number of messages in the google group, aren't the same. What's the best way to determine why?

[2021-04-22 08:59] icy commented on #41
May you share the number of the difference? How many lines did you get in the output script? My sample script as below

[code]
If there is mistmatch (number of `__curl__` in the output script vs the number of messages in the google group, I'd suggest you to rerun the process, i.e, delete all local (cache) files, before you start.

I haven't seen that issue so far. The best thing is to run the scri

[2021-04-22 14:58] ricks03 commented on #41
My curl file shows 17625 lines all told.   My google group shows 5861 messages. I have 17593 files in the folder on the server. (which is about right for the number of lines in the curl file).

My best _guess_ is that each curl line is a message, but the google group shows the number as threads.

[2021-04-22 15:51] icy commented on #41
Right the output script contains script to download messages. Each thread (topic?) in your google group may contain multiple messages. I wrote down what I knew about google group in the code too:

https://github.com/icy/google-group-crawler/blob/c183ffd17f9e871a79a0429a841dd6b87829bc4b/crawler.sh#L28

Hope this helps to explain your issue.

[2021-04-22 16:04] icy commented on #41
Oh , how many files did you see in the `threads`/ folder? Basically there are three folders (threads, msgs, mbox). Maybe one of them matches your expected number...

[2021-04-22 16:28] icy commented on #41
Great you've found that ;)

`threads` is an attempt to find all threads (topics) id. So if you get number of lines in all files in `threads`, you almost get the right number.

Each file in `msgs` contains all links to messages within each thread. It comes with pagination so the number may vary, and it's often greater than number of threads you have.  (5861 threads with pagination --> 5880 I guess.

[2021-04-26 18:03] #41 closed

[2021-07-29 10:13] RobbiNespu opened #42 "Nothing happen"
Hi, I tried cloned it and execute as instructed
[code]

but nothing happen, inside debmal threads, mbox also empty. Maybe my steps are wrong or maybe regex on script are broken. Could you have a look on it?

Thanks for the great works!

[2021-07-29 10:35] icy commented on #42
@RobbiNespu I've just had a quick look. I believe that Google has changed [recently] their front-end application, and yeah, all the old ajax support (`?_escaped_fragment_` part in URI) have just gone. When that happens, the script has no way to get any data from Google!

I will try again if there is any other work-around. You know, google promises... nothing.  That's very sad :(

[2021-07-29 10:48] icy commented on #42
* Proposal (2009): https://developers.google.com/search/blog/2009/10/proposal-for-making-ajax-crawlable
* Deprecation (2015): https://developers.google.com/search/blog/2015/10/deprecating-our-ajax-crawling-scheme